[submodule "manim"]
	path = manim
	url = https://github.com/3b1b/manim.git
[submodule "manim_gl"]
	path = manim_gl
	url = https://github.com/3b1b/manim.git
[submodule "manim_community"]
	path = manim_community
	url = https://github.com/ManimCommunity/manim.git
